@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader img {
  background-color: darkgray;
}

.heading {
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  background: chartreuse;
  padding: 0.35em;
  letter-spacing: 0.25em;
}

body {
  background-color: black;
}

.img-container {
  margin: 10px 30%;
  height: 100%;
}

.img-container img {
  width: 100%;
  margin-top: 5px;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .img-container {
    margin: 10px;
  }
}
